* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --royal:#0563c1;
  --smokey:whitesmoke;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

header {
  display: inline-flex;
  background-image: linear-gradient(
  rgba(93, 157, 252, 0.914) 0%,
  rgb(17, 0, 203) 100%);
  border-bottom: solid 2px black;
}

.links {
  padding-top: 15%;
}

.links:hover {
  text-decoration: none;
}

h1 {
  font-size: 300%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: white;
}

#header {
  width: 40%; 
  height: auto; 
  margin-left: 5%; 
  margin-top: 2%; 
  margin-bottom: 2%; 
  border: dashed 1.5px whitesmoke;
}

#text {
width: 45%; 
margin-top: 3%; 
margin-left: 3%;
}

button {
  width: 25%;
  border: 1.5px solid black;
  font-weight: bold;
  border-radius: 0.5em;
  font-size: 125%;
  margin-right: 2.5%;
  color: black;
  background-image: linear-gradient(rgba(106, 106, 110, 0.974) 0%, rgb(225, 233, 242) 100%);
}

button:hover {
  width:20%;
}

a {
  color: black;
}

button:hover a {
  color: whitesmoke;
  font-size: 80%;
  text-decoration: none;
}

h2 {
  margin: 2% 0;
  font-size: 225%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--royal);
  border-bottom: solid 1px var(--royal);
}

#story {
width: 80%; 
height: auto;
margin-top: 5%;
margin-left: 10%;
border-radius: 1em; 
border: solid 1px black;
}

span[data-descr] {
  position: relative;
  text-decoration: none;
  color: #000;
  cursor: grab;
  font-size: 100%;
  font-weight: bold;
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 1px black solid;
  background-image: linear-gradient(
    rgba(93, 157, 252, 0.914) 0%,
    rgb(17, 0, 203) 100%);
  padding: 12px;
  color: #fff;
  font-size: 100%;
  z-index: 1;
}

.contacts {
  display: inline-block;
}

li {
  width: 150%;
  border: 1px black solid;
  border-radius: 0.25em;
  background-image: linear-gradient(rgba(106, 106, 110, 0.974) 0%, rgb(225, 233, 242) 100%);
}

.CV {
  border: none;
}

.container-fluid {
  background-color: var(--smokey);
}

#MyDesigns {
  background-image: linear-gradient(rgba(195, 195, 205, 0.974) 0%, rgb(225, 233, 242) 100%);
}

#main {
width: 75%;
height: auto;
border-radius: 1em;
}

#sec {
width: 100%;
height: auto;
border-radius: 1em;
}

p {
  margin: 2% 0;
  font-size: 110%;
}

.nav-link {
  border: none;
}

#toggle {
  border: none;
}

h5 {
text-align: center;
font-size: 20px;
color: var(--royal);
}

/**************************************** MOBILE DEVICE CONFIGURATIONS ****************************************/
@media (max-width: 992px) {

  .container {
    flex-wrap: wrap;
  }

  #header {
    width: 75%; 
    height: auto; 
    margin-left: 5%; 
    margin-top: 2%; 
    margin-bottom: 2%; 
    border: dashed 1.5px whitesmoke;
  }
  
  #text {
  width: 42.5%; 
  margin-top: 10%; 
  margin-left: 4%;
  }

  h1 {
    font-size: 300%;
  }
}

/***************************** TABLET DEVICE *******************************/
@media (max-width: 768px) {
   
  .container {
    flex-wrap: wrap;
  }

  #header {
    width: 100%; 
    height: auto; 
    margin-left: 5%; 
    margin-top: 2%; 
    margin-bottom: 2%; 
    border: dashed 1.5px whitesmoke;
  }
  
  #text {
  width: 50%; 
  margin-top: 3%; 
  margin-left: 3%;
  }

  h1 {
    font-size: 300%;
  }
}

/***************************** SMART PHONE *******************************/
@media (max-width: 536px) {
   
  .container {
    flex-wrap: wrap;
  }

  #header {
    width: 100%; 
    height: auto; 
    margin-left: 5%; 
    margin-top: 2%; 
    margin-bottom: 2%; 
    border: dashed 1.5px whitesmoke;
  }
  
#text {
width: 50%; 
margin-top: 3%; 
margin-left: 3%;
}

h1 {
  font-size: 250%;
}

#story {
  width: 100%;
  height: auto;
  margin-left: 0;
}

#btext {
  font-size: 125%;
}

.btn {
  font-size: 65%;
}
}